$color_1: white;
$color_2: lightgreen;
$color_3: green;
$color_4: black;
$background-color_1: green;
$background-color_2: lightgreen;
$background-color_3: white;
$background-color_4: lightgrey;
$background-color_5: lightgray;
$background-color_6: #768cc2;
$background-color_7: #181a14;